:host ::ng-deep .p-menuitem-text {
  color: green;
}

body {
  margin: 0;
  padding: -5rem;
  box-sizing: content-box;
}

.container {
  margin-bottom: -5rem;
  height: 100vh;
}

.footer {
  height: 5vh;
  position: fixed;
  bottom:0;
}
