:host ::ng-deep .p-menuitem-text {
  color: red;
}

body {
  margin: 0;
  padding: -5rem;
  box-sizing: content-box;
}

.container {
  margin-bottom: -5rem;
  height: 100vh;
}

.footer {
  height: 10vh;
  position: absolute;
  bottom:0;
}
