

<div class="flex flex-column justify-content-between w-10 m-auto ">
  <p-button *ngIf="(currentUser$ | async)?.role === 'admin'" label="Plan New Course" routerLink="/courses/plan" class="align-self-start mb-3"></p-button>

 <div class="flex justify-content-center">
  <div class="field col-12 md:col-4">
    <span class="p-float-label">
      <p-dropdown
        id="language"
        [options]="languageOptions"
        [(ngModel)]="languageFilter$" 
        (onChange)="filterByLanguage($event)"
        placeholder="Select Language"
        optionLabel="label"
        [showClear]="true"
      ></p-dropdown>
      <label for="language">Filter Language</label>
    </span>
  </div>

  
  <div class="field col-12 md:col-4">
    <span class="p-float-label">
      <p-dropdown
        id="level"
        [options]="levelOptions"
        [(ngModel)]="levelFilter$" 
        placeholder="Select Level"
        (onChange)="filterByLevel($event)"
        [showClear]="true"
      ></p-dropdown>
      <label for="level">Filter Level</label>
    </span>
  </div>

 </div>
  <p-toast></p-toast>

  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>

  <p-table
    #dt
    [value]="courses"
    [rows]="6"
    [paginator]="true"
    [scrollable]="true"
    scrollDirection="horizontal"
    [globalFilterFields]="['language', 'level', 'price', 'status']"
    [rowHover]="true"
    dataKey="id"
    [ngClass]="{'custom-table': true}"
    class="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="language.label" style="min-width: 5rem">
          Language <p-sortIcon field="language"></p-sortIcon>
        </th>
        <th pSortableColumn="level.label" style="min-width: 5rem">
          Level <p-sortIcon field="level"></p-sortIcon>
        </th>
        <th pSortableColumn="place" style="min-width: 5rem">
          Place <p-sortIcon field="place"></p-sortIcon>
        </th>
        <th pSortableColumn="status.label" style="min-width: 5rem">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="price" style="min-width: 5rem">
          Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th  style="min-width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td>{{ course.language.label }}</td>
        <td>{{ course.level.label }}</td>
        <td>{{ course.place }}</td>
        <td>
          <p-tag
            [value]="course.status.label"
            [severity]="getSeverity(course.status.label)"
          ></p-tag>
        </td>
        <td>{{ course.price }} fr</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            routerLink="/courses/detail/{{course.id}}"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            *ngIf="(currentUser$ | async)?.role === 'admin'"
            routerLink="/courses/edit/{{course.id}}"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            *ngIf="(currentUser$ | async)?.role === 'admin'"
            (click)="deleteCourse(course)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between ">
        In total there are {{ courses ? courses.length : 0 }} course.
      </div>
    </ng-template>
  </p-table>
</div>
