<p-button label="Plan New Course" routerLink="/courses/plan"></p-button>

<div class="card flex justify-content-center table">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>
  <p-table
    #dt
    [value]="courses"
    [rows]="6"
    [paginator]="true"
    [globalFilterFields]="['language', 'level', 'price', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="language.label" style="min-width: 5rem">
          Language <p-sortIcon field="language"></p-sortIcon>
        </th>
        <th pSortableColumn="level.label">
          Level <p-sortIcon field="level"></p-sortIcon>
        </th>
        <th pSortableColumn="place" style="min-width: 5rem">
          Place <p-sortIcon field="place"></p-sortIcon>
        </th>
        <th pSortableColumn="status.label">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="price" style="min-width: 5rem">
          Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td>{{ course.language.label }}</td>
        <td>{{ course.level.label }}</td>
        <td>{{ course.place }}</td>
        <td>
          <p-tag
            [value]="course.status.label"
            [severity]="getSeverity(course.status.label)"
          ></p-tag>
        </td>
        <td>{{ course.price }} fr</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            routerLink="/courses/edit/{{course.id}}"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteCourse(course)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ courses ? courses.length : 0 }} course.
      </div>
    </ng-template>
  </p-table>
</div>
