<div class="flex flex-column justify-content-between w-10 m-auto">
  <p-button
    *ngIf="(currentUser$ | async)?.role === 'admin'"
    label="Plan New Course"
    routerLink="/courses/plan"
    class="align-self-start mb-3"
  ></p-button>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>
  <p-table
    #dt
    [value]="courses"
    [rows]="6"
    [paginator]="true"
    [scrollable]="true"
    scrollDirection="horizontal"
    [globalFilterFields]="[
      'language.label',
      'level.label',
      'price',
      'status.label'
    ]"
    [rowHover]="true"
    dataKey="id"
    [ngClass]="{ 'custom-table': true }"
    class="custom-table"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="language.label" style="min-width: 5rem">
          <div class="flex justify-content-start align-items-center">
            Language <p-sortIcon field="language.label"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="language.label"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="level.label" style="min-width: 5rem">
          <div class="flex justify-content-start align-items-center">
            Level <p-sortIcon field="level.label"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="level.label"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="place" style="min-width: 5rem">
          <div class="flex justify-content-start align-items-center">
            Place <p-sortIcon field="place"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="place"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="status.label" style="min-width: 5rem">
          <div class="flex justify-content-start align-items-center">
            Status <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="status"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="price" style="min-width: 5rem">
          <div class="flex justify-content-start align-items-center">
            Price <p-sortIcon field="price"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="price"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th style="min-width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td>{{ course.language.label }}</td>
        <td>{{ course.level.label }}</td>
        <td>{{ course.place }}</td>
        <td>
          <p-tag
            [value]="course.status.label"
            [severity]="getSeverity(course.status.label)"
          ></p-tag>
        </td>
        <td>{{ course.price }} fr</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            routerLink="/courses/detail/{{ course.id }}"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            *ngIf="(currentUser$ | async)?.role === 'admin'"
            routerLink="/courses/edit/{{ course.id }}"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            *ngIf="(currentUser$ | async)?.role === 'admin'"
            (click)="deleteCourse(course)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ courses ? courses.length : 0 }} course.
      </div>
    </ng-template>
  </p-table>
</div>
