<!-- <div class="row">
    <div class="col">
        <span class="p-float-label">
     
            <input pInputText id="username"  formControlName="text" />
            <label for="username">Username</label>
        </span>

    </div>
 

</div> -->

<div class="card px-5 col-8 m-auto">
  <h2>PLAN NEW COURSE</h2>

  <div class="grid p-fluid mt-5">

    <div class="field col-12 md:col-6 p-2">
      <span class="p-float-label">
        <input
          type="text"
          id="language"
          pInputText
          formControlName="language"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <label for="language" >Course Language</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 p-2">
      <span class="p-float-label">
        <input
          type="text"
          id="level"
          pInputText
          formControlName="level"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <label for="level">Level</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 p-2">
      <span class="p-float-label">
        <input
          type="text"
          id="place"
          pInputText
          formControlName="place"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <label for="place">Place</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 p-2">
      <span class="p-float-label ">
        <input
          type="text"
          id="status"
          pInputText
          formControlName="status"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <label for="status">Status</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 p-2">
      <span class="p-float-label">
        <input
          type="number"
          id="price"
          pInputText
          formControlName="price"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <label for="price">Price</label>
      </span>
    </div>
  </div>
</div>
