<div class="card px-5 col-8 m-auto">
  <h2>PLAN NEW COURSE</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid mt-5">
      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-dropdown
            id="selectedLanguage"
            [options]="languageOptions"
            formControlName="selectedLanguage"
            placeholder="Select Language"
            optionLabel="label"
            [showClear]="true"
          ></p-dropdown>
          <label for="selectedLanguage">Select Language</label>
        </span>
        <div *ngIf="f['selectedLanguage'].touched && f['selectedLanguage'].errors">
          <small *ngIf="f['selectedLanguage'].errors['required']" class="text-pink-600"
            >Level is required</small
          >
        </div>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-dropdown
            id="selectedLevel"
            [options]="levelOptions"
            formControlName="selectedLevel"
            placeholder="Select Level"
            [showClear]="true"
          ></p-dropdown>
          <label for="selectedLanguage">Select Level</label>
        </span>
        <div *ngIf="f['selectedLevel'].touched && f['selectedLevel'].errors">
          <small *ngIf="f['selectedLevel'].errors['required']" class="text-pink-600"
            >Level is required</small
          >
        </div>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <input type="text" id="place" pInputText formControlName="place" />
          <label for="place">Place</label>
        </span>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-dropdown
            id="selectedStatus"
            [options]="statusOptions"
            formControlName="selectedStatus"
            placeholder="Select Status"
            [showClear]="true"
          ></p-dropdown>
          <label for="selectedStatus">Status</label>
        </span>
        <div *ngIf="f['selectedStatus'].touched && f['selectedStatus'].errors">
          <small *ngIf="f['selectedStatus'].errors['required']" class="text-pink-600"
            >Status is required</small
          >
        </div>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-calendar
            id="date"
            formControlName="date"
            selectionMode="range"
            dateFormat="dd.mm.yy"
            [showIcon]="true"
            [showButtonBar]="true"
          ></p-calendar>
          <label for="date">Date</label>
        </span>
        <div *ngIf="f['date'].touched && f['date'].errors">
          <small *ngIf="f['date'].errors['required']" class="text-pink-600"
            >Date is required</small
          >
        </div>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-calendar
            id="time"
            formControlName="time"
            [timeOnly]="true"
          ></p-calendar>
          <label for="time">Time</label>
        </span>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-multiSelect
            id="selectedStudents"
            inputId="float-label"
            [options]="students"
            formControlName="selectedStudents"
            optionLabel="name"
            placeholder="Select Participants"
          ></p-multiSelect>

          <label for="participants">Select Participants</label>
        </span>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <p-dropdown
            id="selectedTeacher"
            [options]="teachers"
            formControlName="selectedTeacher"
            placeholder="Select Teacher"
            optionLabel="name"
          ></p-dropdown>
          <label for="selectedTeacher">Select Teacher</label>
        </span>
      </div>

      <div class="field col-12 md:col-6 p-2">
        <span class="p-float-label">
          <input
            type="number"
            id="price"    
            pInputText
            formControlName="price"
          />
          <label for="price">Price</label>
        </span>
        <div *ngIf="f['price'].touched && f['price'].errors">
          <small *ngIf="f['price'].errors['required']" class="text-pink-600"
            >Date is required</small
          >
          <small *ngIf="f['price'].errors['pattern']" class="text-pink-600"
            >Only number accepted</small
          >
        </div>
      </div>
    </div>
    <div class="flex justify-content-around">
      <p-button
        label="Reset"
        severity="secondary"
        (click)="onReset()"
      ></p-button>
      <p-button type="submit" label="Submit" severity="success"></p-button>
    </div>
  </form>
</div>
