<div class="w-6 m-auto">
  <div class="flex flex-column md:flex-row justify-content-between">
    <div class="font-bold text-3xl text-white p-2 mb-3">Course Information</div>
    <p-button
      (click)="showDialog()"
      label="Register"
      class="m-2"
    ></p-button>
  </div>
  <div class="grid w-full">
    <div class="col mr-6">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center justify-content-between py-3 px-2 flex-wrap">
          <div class="text-500 font-medium">Languge</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.language.label }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Level</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.level.label }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Place</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.place }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Price</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.price }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Date</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.date.seconds * 1000 | date : "dd-MM-yyyy" }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Time</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.time * 1000 | date : "HH:mm" }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Status</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.status.label }}
          </div>
        </li>

        <li
          class="flex align-items-center justify-content-between py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 font-medium">Teacher</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ selectedCourse?.teacher.firstName }}
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN" class="col-6">
      <p-fieldset
        legend="Participants ({{ participants.length }})"
        [toggleable]="true"
        class="m-2"
      >
        <ul *ngFor="let participant of participants" class="list-none p-0 m-0">
          <li class="mb-1 w-full border-bottom-1 surface-border mb-2">
            {{ participant.firstName }} {{ participant.lastName }}   <p-button
            icon="pi pi-times"
            [rounded]="true"
            severity="danger"
            [text]="true"
            size="small"
            pTooltip="Delete"
            (click)="removeParticipant(participant, selectedCourseId)"
          ></p-button>
          </li>
          
        </ul>
      </p-fieldset>

      <p-fieldset
        legend="Candidates ({{ candidates.length }})"
        [toggleable]="true"
      >
        <ul *ngFor="let candidate of candidates" class="list-none p-0 m-0">
         
          <div class="flex flex-row justify-content-between border-bottom-1 surface-border mb-2">
            <li>
              {{ candidate.firstName }} {{ candidate.lastName }}
            </li>
            <div class="flex">
              <p-button
                icon="pi pi-check"
                [rounded]="true"
                severity="secondary"
                [text]="true"
                size="small"
                pTooltip="Accept this course"
                (click)= "acceptCourse(candidate, selectedCourseId)"
              ></p-button>
              <p-button
                icon="pi pi-times"
                [rounded]="true"
                severity="danger"
                [text]="true"
                size="small"
                pTooltip="Delete"
                (click)="deleteCandidate(candidate)"
              ></p-button>
              <p-button
                icon="pi pi-user"
                [rounded]="true"
                [text]="true"
                severity="info"
                pTooltip="Add Participant List for other Course"
                size="small"
              ></p-button>
            </div>
          </div>
        </ul>
      </p-fieldset>
    </div>

    <div
      class="w-full my-4 flex flex-column md:flex-row justify-content-around"
    >
      <button
        pButton
        pRipple
        label="Courses"
        icon="pi pi-angle-left"
        routerLink="/courses"
        class="w-full md:w-4 p-button-text text-blue-900 mb-2 border-1 border-teal-600 hover:border-orange-700"
      ></button>
      <button
        *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        routerLink="/courses/edit/{{ selectedCourseId }}"
        class="w-full md:w-4 p-button-text text-green-900 border-1 border-teal-600 hover:border-orange-700"
      ></button>
    </div>
  </div>

  <p-dialog
    [(visible)]="visible"
    [breakpoints]="{ '960px': '70vw' }"
    [style]="{ width: '40vw' }"
  >
    <ng-template pTemplate="headless">
      <div
        class="flex flex-column px-4 py-5"
        style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            var(--primary-400),
            var(--primary-700)
          );
        "
      >
        <h3>Register for this course</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="grid p-fluid mt-5">
            <div class="field col-12 p-2">
              <span class="p-float-label">
                <input
                  type="text"
                  id="firstName"
                  pInputText
                  formControlName="firstName"
                  placeholder="First Name"
                />
                <label for="firstName">First Name</label>
              </span>
              <div *ngIf="f['firstName'].touched && f['firstName'].errors">
                <small
                  *ngIf="f['firstName'].errors['firstName']"
                  class="text-pink-600"
                  >First name is required</small
                >
                <small
                  *ngIf="f['firstName'].errors['minlength']"
                  class="text-pink-600"
                  >First name must be minumun 3 letters</small
                >
                <small
                  *ngIf="f['firstName'].errors['maxlength']"
                  class="text-pink-600"
                  >First name must be maximun 8 letters</small
                >
              </div>
            </div>

            <div class="field col-12 p-2">
              <span class="p-float-label">
                <input
                  type="text"
                  id="lastName"
                  pInputText
                  formControlName="lastName"
                  placeholder="Last Name"
                />
                <label for="lastName">Last Name</label>
              </span>
              <div *ngIf="f['lastName'].touched && f['lastName'].errors">
                <small
                  *ngIf="f['lastName'].errors['lastName']"
                  class="text-pink-600"
                  >Last name is required</small
                >
              </div>
            </div>

            <div class="field col-12 p-2">
              <span class="p-float-label">
                <input
                  pInputText
                  type="number"
                  id="phone"
                  formControlName="phone"
                  placeholder="Phone"
                />
                <label for="phone">Phone Number</label>
              </span>
              <div *ngIf="f['phone'].touched && f['phone'].errors">
                <small *ngIf="f['phone'].errors['phone']" class="text-pink-600"
                  >Phone number is required</small
                >
              </div>
            </div>

            <div class="field col-12 p-2">
              <span class="p-float-label">
                <input
                  type="email"
                  id="email"
                  pInputText
                  formControlName="email"
                />
                <label for="email">E-Mail</label>
              </span>
            </div>
          </div>

          <div class="flex md:flex-row sm:flex-column gap-2">
            <p-button
              type="submit"
              [disabled]="!form.valid"
              label="Register"
              [text]="true"
              styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
              class="w-full"
            ></p-button>
            <p-button
              label="Cancel"
              (click)="closeDialog()"
              [text]="true"
              styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
              class="w-full"
            ></p-button>
          </div>
        </form>
        <p-toast position="center" key="tl"></p-toast>
      </div>
    </ng-template>
  </p-dialog>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog> 
</div>
