<div class="flex flex-column justify-content-between w-10 m-auto">
  <div class="flex flex-column md:flex-row justify-content-between mb-4">
    <h3>Active Courses</h3>
    <p-button
      *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
      label="Plan New Course"
      routerLink="/courses/plan"
      [outlined]="true" 
      styleClass="text-purple-500"
      size="small"
    ></p-button>
  </div>

  <div class="formgrid grid w-10">

    <div class="field col-12 md:col-6 lg:col-3">
      <span class="p-float-label">
        <p-dropdown
          id="language"
          [options]="languageOptions"
          (onChange)="filterByLanguage($event)"
          placeholder="Select Language"
          optionLabel="label"
          [showClear]="true"
        ></p-dropdown>
        <label for="language">Filter Language</label>
      </span>
    </div>
      
    <div class="field col-12 md:col-6 lg:col-3">
      <span class="p-float-label">
        <p-dropdown
          id="level"
          [options]="levelOptions"
          placeholder="Select Level"
          (onChange)="filterByLevel($event)"
          optionLabel="label"
          [showClear]="true"
        ></p-dropdown>
        <label for="level">Filter Level</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 lg:col-3">
      <span class="p-float-label">
        <p-dropdown
          id="level"
          [options]="statusOptions"
          placeholder="Select Status"
          (onChange)="filterByStatus($event)"
          optionLabel="label"
          [showClear]="true"
        ></p-dropdown>
        <label for="level">Filter Status</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 lg:col-3">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText (input)="search($event)" class="w-10"/>      
        <label for="level">Search</label>
      </span>
    </div>
  
   </div>
 
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>
  <p-table
    #dt
    [value]="courses"
    [rows]="6"
    [paginator]="true"
    [rowHover]="true"
    dataKey="id"
    [ngClass]="{ 'custom-table': true }"
    class="custom-table"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    responsiveLayout="stack" 
    [breakpoint]="'960px'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="language.label" style="min-width: 15%">
          <div class="flex justify-content-start align-items-center">
            Language <p-sortIcon field="language.label"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="level.label" style="min-width: 15%">
          <div class="flex justify-content-start align-items-center">
            Level <p-sortIcon field="level.label"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="place" style="min-width: 15%">
          <div class="flex justify-content-start align-items-center">
            Place <p-sortIcon field="place"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="status.label" style="min-width: 15%">
          <div class="flex justify-content-start align-items-center">
            Status <p-sortIcon field="status"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="price" style="min-width: 15%">
          <div class="flex justify-content-start align-items-center">
            Price <p-sortIcon field="price"></p-sortIcon>
          </div>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td><span class="p-column-title">Language</span>{{ course.language.label }}</td>
        <td><span class="p-column-title">Level</span>{{ course.level.label }}</td>
        <td><span class="p-column-title">Place</span>{{ course.place }}</td>
        <td><span class="p-column-title">Status</span>
          <p-tag
            [value]="course.status.label"
            [severity]="getSeverity(course.status.label)"
          ></p-tag>
        </td>
        <td><span class="p-column-title">Price</span>{{course.price}} fr</td>

        <td class="">
          <p-button
            pRipple
            icon="pi pi-eye"
            [outlined]="true" 
            styleClass="text-cyan-700 mr-2"
            routerLink="/courses/detail/{{course.id}}"
            size="small"
          ></p-button>
          <p-button
            pRipple
            icon="pi pi-pencil"
            [outlined]="true" 
            styleClass="text-teal-500 mr-2"
            *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
            routerLink="/courses/edit/{{course.id}}"
            size="small"
          ></p-button>
          <p-button
            pRipple
            icon="pi pi-trash"
            [outlined]="true" 
            styleClass="text-pink-500"
            *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
            (click)="deleteCourse(course)"
            size="small"
          ></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ courses ? courses.length : 0 }} course.
      </div>
    </ng-template>
  </p-table>
</div>
