<div class="flex flex-column justify-content-between w-11 m-auto">
  <app-header-page
    [currentUser$]="currentUser$"
    [routerLinkAdd]="'/team/add'"
    [header]="'Our Teachers'"
    [tooltip]="'Add New Teacher'"
    [addButton]="true"
  ></app-header-page>

  <p-toast></p-toast>

  <p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>

  <div
    class="card flex flex-column md:flex-row justify-content-between flex-wrap"
    [ngClass]="teachers.length < 5 ? 'justify-content-start' : 'justify-content-between'"
  >
    <p-card
      *ngFor="let teacher of teachers"
      header="{{ teacher.firstName + ' ' + teacher.lastName }}"
      subheader="actif kurs"
      [style]="{ width: '250px' }"
      class="mb-4"
      [ngClass]="teachers.length < 5 ? 'with-margin' : 'without-margin'"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>

      <ng-template pTemplate="footer" class="absolute bottom-0">
        <p-button
          pTooltip="Detail"
          icon="pi pi-eye"
          [outlined]="true"
          [attr.data-test-id]="'detail-button-'+ teacher.id"
          routerLink="/team/detail/{{ teacher.id }}"
          styleClass="p-button-warning"
        ></p-button>
        <p-button
          *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
          pTooltip="Edit"
          [outlined]="true"
          icon="pi pi-pencil"
          routerLink="/team/edit/{{ teacher.id }}"
          styleClass="text-teal-500"
          [style]="{ 'margin-left': '.5em', }"
        ></p-button>
        <p-button
          *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
          pTooltip="Delete"
          [outlined]="true"
          icon="pi pi-trash"
          styleClass="p-button-danger"
          (click)="deleteTeacher(teacher)"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
