<div class="flex flex-column justify-content-between w-11 m-auto">
<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-2">
    <h2 class="mb-4 text-white">Our Teachers</h2>
    <p-button
      *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
      routerLink="/team/add"
      icon="pi pi-plus font-bold"
      pTooltip="Add New Teacher"
      tooltipPosition="bottom"
      [outlined]="true"   
    [style]="{ 'background-image': 'radial-gradient(
        circle at left top,
        #A437DB,
        #43ecf9
      )', 'color': '#ffffff' }" 
    ></p-button>
</div>

<p-toast></p-toast>

<p-confirmDialog [style]="{ width: '40vw' }"></p-confirmDialog>

<div class="card flex flex-column md:flex-row justify-content-between flex-wrap">
  <p-card
    *ngFor="let teacher of teachers"
    header="{{ teacher.firstName + ' ' + teacher.lastName }}"
    subheader="actif kurs"
    [style]="{ width: '250px', height: '300px' }"
    class="mb-4 mr-2"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>

    <ng-template pTemplate="footer" class="absolute bottom-0">
      <p-button
        pTooltip="Detail"
        [outlined]="true"
        icon="pi pi-eye"
        routerLink="/team/detail/{{ teacher.id }}"
        styleClass="p-button-warning"
      ></p-button>
      <p-button
        *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
        pTooltip="Edit"
        [outlined]="true"
        icon="pi pi-pencil"
        routerLink="/team/edit/{{ teacher.id }}"
        styleClass="text-teal-500"
        [style]="{ 'margin-left': '.5em', }"
      ></p-button>
      <p-button
        *ngIf="(currentUser$ | async)?.role === UserRole.ADMIN"
        pTooltip="Delete"
        [outlined]="true"
        icon="pi pi-trash"
        styleClass="p-button-danger"
        (click)="deleteTeacher(teacher)"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
    </ng-template>
  </p-card>
</div>
</div>
