<div class="font-bold text-3xl text-900 p-2 mb-3">Teacher Information</div>
<div class="grid w-full">
  <div class="col mr-8">
    <ul class="list-none p-0 m-0">
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">First Name</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.firstName }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Last Name</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.lastName }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Phone Number</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.phone }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">E-Mail</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.email }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Birthday</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.birthDay.seconds * 1000 | date : "dd-MM-yyyy" }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Start Day</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.startDay.seconds * 1000 | date : "dd-MM-yyyy" }}
        </div>
      </li>

      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Status</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          {{ selectedTeacher.nationality }}
        </div>
      </li>
    </ul>
  </div>

  <!-- <div class="col">
    <li
      class="flex py-3 px-2 align-items-center flex-wrap"
    >
      <div class="grid">
        <div class="col">
          <div class="text-500 w-8 md:w-2 font-medium">Participants</div>
        </div>
        <div class="col">
          <ul
            *ngFor="let participant of participants"
            class="list-none p-0 m-0 text-900 flex flex-row flex-wrap"
          >
            <li class="mr-3 mb-1">{{ participant.name }}</li>
          </ul>
        </div>
      </div>
    </li>
  </div> -->

  <div class="w-full my-4 flex flex-row justify-content-around">
    <button
      pButton
      pRipple
      label="Team"
      icon="pi pi-angle-left"
      routerLink="/team"
      class="p-button-text text-blue-900 ml-2 border-1 border-teal-600 hover:border-orange-700"
    ></button>
    <button
      pButton
      pRipple
      label="Edit"
      icon="pi pi-pencil"
      routerLink="/team/edit/{{ selectedTeacherId }}"
      class="p-button-text text-green-900 border-1 border-teal-600 hover:border-orange-700"
    ></button>
  </div>
</div>

