<div>
  <div>
    <h3>Reset Password</h3>
    <p>Please enter your email address to request a password reset.</p>
    <div class="mb-3">
      <input
        type="email"
        pInputText
        class="formControl"
        placeholder="Email Address"
        #passwordResetEmail
        required
      />
    </div>

    <div class="mb-3">
      <p-button
        type="submit"
        class="btn btnPrimary"
        label="Reset Password"
        (click)="forgotPassword(passwordResetEmail.value)"
      >
      </p-button>
    </div>
  </div>
  <div class="redirectToLogin">
    <span
      >Go back to
      <a class="redirect" routerLink="/auth/sign-in">Log In</a></span
    >
  </div>
</div>
<p-toast position="center" key="tl"></p-toast>
